<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.LuckyBagMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.LuckyBag">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="agency_id" jdbcType="INTEGER" property="agencyId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="room_id" jdbcType="INTEGER" property="roomId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pic" jdbcType="VARCHAR" property="pic" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="share_pic" jdbcType="VARCHAR" property="sharePic" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="share_small_pic" jdbcType="VARCHAR" property="shareSmallPic" />
  </resultMap>
</mapper>